
<div class='nav'>
    <img class='logoa' src='assets/logo-nav@2x.png'>
  <div class='menu'>
    <a routerLink ='#'>FEATURES</a>
    <a routerLink ='#'>DOCS</a>
    <a routerLink ='#'>RESOURCES</a>
    <a routerLink ='#'>EVENTS</a>
    <a routerLink = '#'>BLOG</a>
  </div>
  <div class='links'>
    <input id='buscar' type="search" placeholder="   Search">
    <a class='logob' href ='https://twitter.com/angular'><img src='assets/twitter-icon.svg'></a>
    <a class='logob' href ="https://github.com/angular/angular"><img src='assets/github-icon.svg'></a>
  </div>
</div>



